.contenedor{
    display: flex;
    justify-content: center;
    top:50%;
    left:50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
}
.form-expense{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.add-category{
    background-color: white;
    display: flex;
    width: 100%;
}
.name-expense-category{
    width: 100%;
}
.textfield{
    width: 50%;
}
.select-expense-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.label-expense-icon{
    display: flex;
    justify-content: center;
    margin:10px;
    width:50%;
}
.buttons{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 50%;

}
.boton-aceptar, .boton-cancelar, .boton-atras, .boton-adelante{
    display: flex;
    justify-content: center;
    background: none;
}

