@font-face {
  font-family: UnB-Bold;
  src: url(../fonts/unb-office_bold.ttf);
}

@font-face {
  font-family: UnB-Light;
  src: url(../fonts/unb-office_regular.ttf);
}

/*
$MAIN_COLOR: #9CE37D;
$PRIMARY_COLOR: #87B37A;
$THIRD_COLOR: #77867F;
$FOURTH_COLOR: #4C2C72;
$FIFTH_COLOR: #4B296B;
*/


$MAIN_COLOR: #14453D;
$PRIMARY_COLOR: #3D7068;
$THIRD_COLOR: #43C59E;
$FOURTH_COLOR: #3DFAFF;
$FIFTH_COLOR: #48BEFF;


$theme-text-color-primary: $MAIN_COLOR;
$theme-text-color-secondary: lighten($PRIMARY_COLOR, 20%);
$theme-success-color: #5cb377;
$theme-warning-color: #EEBF41;
$theme-info-color: #5b99ea;
$theme-danger-color: #EC575B;

//override bootstrap
$theme-colors: (
  "primary":  $MAIN_COLOR, 
  "secondary": $theme-text-color-secondary, 
  "success": $theme-success-color,
  "danger": $theme-danger-color,
  "warning": $theme-warning-color,
  "info": $theme-info-color,
);

.custom-font-bold{
  font-family: UnB-Bold;
}

.custom-font-light{
  font-family: UnB-Light;
}