html,
body,
#root {
    height: 100%;
    background-image: url("../../../public/wallpaper.jpg");
    background-size: cover;
}

.landing-page{
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    padding: 10px;
    height: 100%;
}

@media (max-width: 750px) {
    .landing-page{
        background: rgba(0, 0, 0, 1);
        height: 100%;
    }
  }