html,
body,
#root {
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
}

.landing-page{
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80%;
}

@media (max-width: 750px) {
    .landing-page{
        height: 100%;
    }
  }