html,
body,
#root {
    height: 100%;
}


.landing-page{
    background-color: black;
    height: 100%;
}

.landing-page-navbar{
    height: 5em;
    background-color: green;
}

.landing-page-screen{
    height: 100%;
    background-color: red;
}
